- if task.errors.present?
  %ul#error_explanation
    - task.errors.full_messages.each do |message|
      %li= message

= form_with model: task, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', id: 'task_name'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, class: 'form-control', id: 'task_description'
  .form-group
    = f.label :deadline
    - min_value = Time.zone.now.strftime(t('date.formats.default'))
    = f.datetime_field :deadline, min: min_value, id: 'task_deadline', class: 'form-control'
  .form-group
    = f.label :status
    = f.select :status, Task.statuses_i18n.invert, {}, {class: 'form-control col-sm-2' }
  .form-group
    = f.label :priority
    = f.select :priority, Task.priorities_i18n.invert, {}, { class: 'form-control col-sm-2' }
  .form-group
    = f.label Label.model_name.human
    %br
    = f.collection_check_boxes(:label_ids, labels, :id, :name) do |b|
      - checked = task.label_ids.include?(b.value) ? "checked" : ""
      = b.label(class: "badge badge-pill badge-info label_id-#{b.value}") { b.check_box(checked: checked) + b.text }
  = f.submit nil, class: 'btn btn-primary'
