%h1= t(".header")

= link_to(t('helpers.create.button'), new_label_path, class: 'btn btn-primary')

.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th= Label.human_attribute_name(:name)
      %th
    %tbody
      - @labels.each do |label|
        %tr
          %td= link_to(label.name, label, id: "label-name-#{label.id}")
          %td
            -# = link_to(t('helpers.edit.button'), edit_task_path(label), class: 'btn btn-primary mr-3')
            -# = link_to(t('helpers.delete.button'), label, method: :delete,
            -#   data: { confirm: t('helpers.delete.confirm', name: label.name) } ,class: 'btn btn-danger')
