%h1= t(".header")

- if @label.errors.present?
  %ul#error_explanation
    - @label.errors.full_messages.each do |message|
      %li= message

= form_with model: @label, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control input-name'
  = f.submit nil, class: 'btn btn-primary'
